<div class = "announcement-show">
	<div class = "announcement-title">
		<%= @announcement.title %>
	</div>
	<div class = "announcement-time">
		Posted <%= time_ago_in_words(@announcement.created_at) %> ago.
	</div>
	<div class = "announcement-description">
		<%= @announcement.description %>
	</div>
</div>