<%= link_to "New Assignment", new_assignment_path, class: "btn btn-default" %>
<br />
<div>
	Recent Assignments
</div>
<% @assignments.each do |assignment| %>
<%= assignment.title %> due: <%= assignment.duedate %>
<br />
<% end %>