<div>
	<div class = "topic-show-container">
		<div class = "topic-show-title">
			<%= @topic.title.capitalize %>
		</div>
		<div class = "topic-show-lesson-assignment-container">
			<div class = "topic-show-lesson-container">
				<div class = "topic-show-lesson-container-title">
					Lessons
				</div>
				<div style = "text-align:center;margin:10px;">
					<%= link_to "New Lesson", new_topic_lesson_path(topic_id: @topic.id), class: "btn btn-default" %>
				</div>
				<div class = "lesson-show-list">
					<% @topic.lessons.each do |lesson| %>
						<%= link_to topic_lesson_path(lesson) do %>
						<div class = "topic-lesson"><%= @topic.title.capitalize + ' - ' + lesson.title.capitalize %></div>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class = "topic-show-assignment-container">
				<div class = "topic-show-assignment-container-title">
					Assignments
				</div>
				<div class = "assignment-show-list">
				</div>
			</div>
		</div>
	</div>



</div>