<div>
	<div class = "about-container hidden-class">
		<div class = "about-title">
			ABOUT
		</div>
		<div class = "about-description">
			<%= @about.description.html_safe %>
		</div>
	</div>
</div>
<script>
	if ($(".about-container").hasClass("hidden-class")){
		setTimeout(function(){
			$(".about-container").removeClass("hidden-class").addClass("a-fast fadeInRight");
		},100);	
	}
</script>