<div>
	<div class = "about-container hidden-class">
		<div class = "about-title">
			ABOUT
		</div>
		<div class = "about-description">
			hello
		</div>
	</div>
</div>
<script>
	setTimeout(function(){
		$(".about-container").removeClass("hidden-class").addClass("a-fast fadeInRight");
	},100);
</script>