<div>
	<div class = "contact-container hidden-class">
		<div class = "contact-title">
			CONTACT
		</div>
		<div class = "contact-description">
			hello
		</div>
	</div>
</div>
<script>
	setTimeout(function(){
		$(".contact-container").removeClass("hidden-class").addClass("a-fast fadeInRight");
	},100);
</script>