<div class = "home-index-container">
	<div class = "home-introduction">
		<div>
			
		</div>
	</div>
	<div class = "list-container">
		<div class = "assignment-list">
		</div>
		<div class = "topic-list">
		</div>
		<div class = "announcement-list">

		</div>
		<div style = "clear:both">
		</div>
	</div>
	<div>
	</div>
	<div class = "review-list">
	</div>
</div>