<div style = "text-align:center">
	<div class = "lesson-show-container">
		<div style = "text-align:center">
			<div class = "lesson-show-title">
				<%= @lesson.title.capitalize %>
			</div>
			<div class = "lesson-show-description">
				<%= @lesson.description.capitalize %>
			</div>
			<div class = "lesson-assignment">
				<div style = "text-align:center">
					Assignments
				</div>
				<% @lesson.assignments.each do |assignment| %>
				<div class = "lesson-assignment-div">
				<%= assignment.title %>
				</div>
				<% end %>

			</div>
			<%= link_to "Back", :back, class: "btn btn-default", style: "margin:1rem" %>
		</div>
	</div>
</div>