@import "bootstrap-sprockets";
@import "bootstrap";
@import "animation.css";
$red: #e85a71;
$lightblue: #d8e9ef;
$blue: #4ea1d3;
$black: #273948;
$yellow: #f9f6d7;
$white: #ffffff;
$grey: #f3f3f4;
$font: 'Open Sans', sans-serifs;
.index-menu{
	background-color: $black;
	display:none;
	width:300px;
	height:800px;
	position:fixed;
	z-index: 10000;
}
body{
	background-color: #e0e0e0;
}
a{
	color:$black;
	&:hover{
		text-decoration:none;	
		color:$black;
	}
}
*{
	box-sizing:border-box;
	font-family: $font;
}
.background-img{
	position:fixed;
	z-index:1;
}
@media (max-width:50000px) and (min-width:1200px){
	.assignment-list, .topic-list, .announcement-list{
		display:inline-block;
		height:400px;
		width:30%;
		float:left;
		margin:3rem 2rem;
		background-color: $white;
		.index-titles{
			border-top: 3px solid #d0d0d0;
			text-align:left;
			font-size:2rem;
			border-bottom: 1px solid #d0d0d0;
			padding-left:1.5rem;
			padding-top:1rem;
			padding-bottom:1rem;
		}
	}
	.assignment{
		float:left;
		display:inline-block;
		box-shadow:1px 1px 1px $black;
		color: $black;
		background-color: $grey;
		width:44%;
		height:85px;
		font-size:1.5rem;
		border:none;
		border-radius:0.3rem;
		margin:1rem 1rem;
		.assignment-title{
			margin-left:0.5rem;
			font-size:1.3rem;
		}
		.assignment-description{
			margin-left:0.5rem;
			font-size:1rem;
		}
		.assignment-duedate{
			margin-left:0.5rem;
		}
		
	}
	.topic-show-container{
		background-color:$grey;
		margin:0 auto;
		width:90%;
		height:580px;
		margin-top:20px;
		.topic-show-lesson-container{
			box-shadow: 2px 2px 2px black;
			width:43%;
			height:400px;
			background-color: $white;
			display:inline-block;
			float:left;
			margin-left:50px;
			border-top: 3px solid #d0d0d0;
			.topic-show-lesson-container-title{
				font-size:2.5rem;
				background-color:$white;
				border-bottom: 1px solid #d0d0d0;
				text-align:left;
				height:5rem;
				padding:1rem;
			}
		}
		.topic-show-assignment-container{
		border-top: 3px solid #d0d0d0;
			box-shadow: 2px 2px 2px black;
			width:43%;
			height:400px;
			background-color: $white;
			display:inline-block;
			float:right;
			margin-right:50px;
			.topic-show-assignment-container-title{
				font-size:2.5rem;
				background-color:$white;
				border-bottom: 1px solid #d0d0d0;
				text-align:left;
				height:5rem;
				padding:1rem;
			}
		}
		
	}
}
@media (max-width:1199px) and (min-width:1000px){
	.assignment-list, .topic-list, .announcement-list{
		box-shadow: 3px 3px 3px black;
		height:400px;
		width:80%;
		margin:3rem auto;
		background-color: $red;
	}
	.assignment{
		float:left;
		display:inline-block;
		box-shadow:1px 1px 1px $black;
		color: $black;
		background-color: $yellow;
		width:44%;
		height:85px;
		font-size:1.5rem;
		border:none;
		border-radius:0.3rem;
		margin:1rem 3%;
		.assignment-title{
			margin-left:0.5rem;
			font-size:1.3rem;
		}
		.assignment-description{
			margin-left:0.5rem;
			font-size:1rem;
		}
		.assignment-duedate{
			margin-left:0.5rem;
		}
		
	}
	.topic-show-container{
		background-color:$lightblue;
		margin:0 auto;
		width:90%;
		height:580px;
		margin-top:20px;
		.topic-show-lesson-container{
			box-shadow: 2px 2px 2px black;
			width:43%;
			height:400px;
			background-color: $yellow;
			display:inline-block;
			float:left;
			margin-left:50px;
			border-radius:0.7rem;
			.topic-show-lesson-container-title{
				font-size:2.5rem;
				background-color:$blue;
				border-radius:0.7rem;
				text-align:center;
				height:5rem;
				padding:1rem;
			}
		}
		.topic-show-assignment-container{
			box-shadow: 2px 2px 2px black;
			width:43%;
			height:400px;
			background-color: $yellow;
			display:inline-block;
			float:right;
			border-radius:0.7rem;
			margin-right:50px;
			.topic-show-assignment-container-title{
				font-size:2.5rem;
				background-color:$blue;
				border-radius:0.7rem;
				text-align:center;
				height:5rem;
				padding:1rem;
			}
		}
		
	}
	
}

@media (max-width:999px) and (min-width:200px){
	.assignment-list, .topic-list, .announcement-list{
		box-shadow: 3px 3px 3px black;
		height:400px;
		width:80%;
		margin:3rem auto;
		background-color: $red;
	}
	.assignment{
		float:left;
		display:inline-block;
		box-shadow:1px 1px 1px $black;
		color: $black;
		background-color: $yellow;
		width:44%;
		height:85px;
		font-size:1.5rem;
		border:none;
		border-radius:0.3rem;
		margin:1rem 3%;
		.assignment-title{
			margin-left:0.5rem;
			font-size:1.3rem;
		}
		.assignment-description{
			margin-left:0.5rem;
			font-size:1rem;
		}
		.assignment-duedate{
			margin-left:0.5rem;
		}
		
	}
	.topic-show-container{
		background-color: $white;
		margin:0 auto;
		width:90%;
		height:1000px;
		margin-top:20px;
		.topic-show-lesson-container{
			box-shadow: 2px 2px 2px black;
			width:80%;
			height:400px;
			background-color: $yellow;
			margin:2rem auto;
			border-radius:0.7rem;
			.topic-show-lesson-container-title{
				font-size:2.5rem;
				background-color:$blue;
				border-radius:0.7rem;
				text-align:center;
				height:5rem;
				padding:1rem;
			}
		}
		.topic-show-assignment-container{
			box-shadow: 2px 2px 2px black;
			width:80%;
			height:400px;
			background-color: $yellow;
			border-radius:0.7rem;
			margin:2rem auto;
			.topic-show-assignment-container-title{
				font-size:2.5rem;
				background-color:$blue;
				border-radius:0.7rem;
				text-align:center;
				height:5rem;
				padding:1rem;
			}
		}

	}
}
.home-introduction{
	color:#676a6c;
	padding-top:2rem;
	padding-left:2rem;
	font-size:2.5rem;
	font-weight:400;
	font-family: $font;
	width:100%;
	height:350px;
	background-color: $white;
	margin: 0 auto;
	position:relative;
	z-index:1000;
	margin-bottom:60px;
	.current-notification{
		font-size:1.3rem;
	}
}
.navigation{
	background-color: $grey;
	height:11rem;
	width:100%;
	border-bottom: 1px solid #D0D0D0;
}
.list-container{
	margin:0 auto;
}

.navigation-brand{
	display:inline-block;
	font-size:3rem;

	height:11rem;
	padding-top:3rem;
	font-weight:800;
	padding-left:3rem;
}
.nav{
	display:inline-block;
	font-size:1.5rem;
	float:right;
	margin-right:2rem;
	height:11rem;
	padding:4rem 0;
}
.notification{
	position:fixed;
	top:0;
	width:100%;
	height:11rem;
	background-color:$red;
	opacity:0.8;
	text-align:center;
	font-size:4rem;
}
.topic{
	box-shadow:1px 1px 1px $black;
	width:90%;
	height:30px;
	margin:0 auto;
	margin-bottom:10px;
	border-radius:0.3rem;
	border:none;
	background-color:$grey;
	padding-top:0.3rem;
	font-size:1.8rem;
	color: $black;
}
.announcement{
	background-color:#aacfd0;
	color: $black;
	height:100px;
	width:90%;
	margin:1rem auto;
	border:none;
	border-radius:0.3rem;
	box-shadow:1px 1px 1px $black;
	font-size:1.8rem;
}

.topic-show-title{
	background-color: $white;
	width:100%;
	font-size:3rem;
	text-align:left;
	height:130px;
	padding-left:2rem;
	padding-bottom:1rem;
	padding-top:2rem;
	font-weight:bold;
}
.topic-show-lesson-assignment-container{
	margin-top:2rem;
}
.topic-lesson{
	border-bottom: 1px solid #d0d0d0;
	margin:0.8rem auto;
	padding:5px;
	padding-top:10px;
	padding-bottom:10px;
	width:90%;
	height:30px;
	background-color:$white;
}

.lesson-show-container{
	width:90%;
	background-color: $lightblue;
	text-align:center;
	margin:2rem auto;
	.lesson-show-title{
		font-size:3rem;
		background-color: $red;
		padding:3rem;
	}
	.lesson-show-description{
		text-align:left;
		padding-top:1rem;
		min-height:500px;
		padding-left:2rem;
		padding-right:2rem;
	}
}

.lesson-assignment{
	background-color: $yellow;
	width:100%;
	min-height:8rem;
	.lesson-assignment-div{
		background-color:white;
		padding:1rem;
		margin:0.5rem;

	}
}
.assignment-show-list{
	.topic-assignment{
		box-shadow: 1px 1px 1px black;
		background-color: $lightblue;
		margin-top:0.5rem;
		text-align:center;
		border-radius:5px;
		width:90%;
		margin-left: auto;
		margin-right: auto
	}
}
.assignment-show-page{
	margin:2rem auto;
	width:80%;
	background-color:$yellow;
	.assignment-show-page-title{
		font-size:3rem;
		text-align:center;
		height:10rem;
		padding:3rem;
	}
	.assignment-show-page-description{
		text-align:left;
		font-size:1.8rem;
		background-color:$lightblue;
		min-height:500px;
		padding:1rem 2rem;
	}
	.assignment-show-page-duedate{
		text-align:center;
		font-size:2.5rem;
		border:8px solid black;
	}

}
.titles{
	font-weight:800;
	color: $black;
}
.footer{
	height:100px;
	width:100%;
	background-color:$white;
	margin-top:1.5rem;
}
.about-container{
	margin:2rem auto;
	width:90%;
	height:600px;
	.about-title{
		font-size:3.5rem;
		color:white;
		padding-left:3rem;
		text-align:left;
		background-color:$blue;
		height:100px;
	}
	.about-description{
		font-size:2.5rem;
		color: $blue;
		padding-left:3rem;
		text-align:left;
		background-color: $lightblue;
		height:500px;

	}
}
.contact-container{
	margin:2rem auto;
	width:90%;
	height:600px;
	.contact-title{
		font-size:3.5rem;
		color:white;
		padding-left:3rem;
		text-align:left;
		background-color:$blue;
		height:100px;
	}
	.contact-description{
		font-size:2.5rem;
		color: $blue;
		padding-left:3rem;
		text-align:left;
		background-color: $lightblue;
		height:500px;

	}
}

.no-access{
	.no-access-title{
		font-size:3rem;
		height:80px;
		width:100%;
		background-color:red;
		padding-left:3rem;
		padding-top:1rem;
	}
	.no-access-description{
		font-size:2rem;
		height:450px;
		padding-left:3rem;

	}
}


.announcement-show{
	width:90%;
	height:150px;
	box-shadow: 5px 5px black;
	border-radius: 5px;
	margin: 10px auto;
	text-align:center;
	background-color:#aacfd0;
	.announcement-title{
		width:100%;
		background-color:$lightblue;
		height:50px;
		font-size:2rem;
		font-weight:800;
		padding:1rem;
	}
	.announcement-description{

	}
	.announcement-time{

	}
	
}

